<app-toolbar text="Patient {{patientID}}">
  <app-toolbar-link *ngIf="isPatient()" text="Edit personal details" icon="edit"
    [routerLink]="['/patient/edit/', patientID]">
  </app-toolbar-link>
  <app-toolbar-link *ngIf="isDoctor()" text="Edit medical details" icon="edit"
    [routerLink]="['/patient/edit/', patientID]">
  </app-toolbar-link>
  <app-toolbar-link *ngIf="isPatient()" text="View doctors" icon="user-md" routerLink="doctors/list"></app-toolbar-link>
  <app-toolbar-link text="View history" icon="history" routerLink="history"></app-toolbar-link>
  <app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
</app-toolbar>
<br><br><br>
<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <div class="row">
    <div class="col-xl-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <table *ngIf="patientRecordObs | async as record">
            <span>
              <tr>
                <td class="labels"><strong>Patient ID</strong></td>
                <td>{{record.patientId}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>First Name</strong></td>
                <td>{{record.firstname}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Last Name</strong></td>
                <td>{{record.lastname}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Age</strong></td>
                <td>{{record.age}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>gender</strong></td>
                <td>{{record.gender}}</td>
              </tr>
              <ng-container *ngIf="isPatient()">
                <tr>
                  <td class="labels"><strong>Contact number</strong></td>
                  <td>{{record.phonenumber}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Emergency number</strong></td>
                  <td>{{record.emergencynumber}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Address</strong></td>
                  <td>{{record.address}}</td>
                </tr>
              </ng-container>
              <tr>
                <td class="labels"><strong>Blood Group</strong></td>
                <td>{{record.bloodgroup}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>lefteyepower</strong></td>
                <td>{{record.lefteyepower}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>righteyepower</strong></td>
                <td>{{record.righteyepower}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>lefteyekeywords</strong></td>
                <td>{{record.lefteyekeywords}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>righteyekeywords</strong></td>
                <td>{{record.righteyekeywords}}</td>
              </tr>
              <tr>

                <td class="labels"><strong>Symptoms</strong></td>
                <td>{{record.symptoms}}</td>
              </tr>
              <tr>

                <td class="labels"><strong>Risk factors</strong></td>
                <td>{{record.riskfactors}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Examination Date</strong></td>
                <td>{{record.examinationdate}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Prescription</strong></td>
                <td>{{record.prescription}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>ChangedBy</strong></td>
                <td>{{record.changedby}}</td>
              </tr>
            </span>
          </table>
          <div *ngIf="patientRecordObs === undefined">
            <p>You are not authorized to view patient details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
